[Unit]
Description=Automatically run /root/zram.sh on boot

[Service]
ExecStart=/bin/bash /root/zram.sh
Type=oneshot
Restart=no

[Install]
WantedBy=multi-user.target
